<?xml version="1.0" encoding="ISO-8859-1"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.0.xsd">
 
    <http auto-config="true" access-denied-page="/negado.jsf">
        <form-login login-page="/login.jsf" authentication-failure-url="/falha.jsf"/>
        <intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
        <intercept-url pattern="/publico/**" access="ROLE_X,ROLE_ADMIN" />
        <intercept-url pattern="/animal/**" access="ROLE_X,ROLE_ADMIN" />
        <intercept-url pattern="/bezerro/**" access="ROLE_X,ROLE_ADMIN" />
        <intercept-url pattern="/fazenda/**" access="ROLE_X,ROLE_ADMIN" />
        <intercept-url pattern="/funcionarios/**" access="ROLE_X,ROLE_ADMIN" />
        <intercept-url pattern="/local/**" access="ROLE_X,ROLE_ADMIN" />
        <intercept-url pattern="/precocidade/**" access="ROLE_X,ROLE_ADMIN" />
        <intercept-url pattern="/sanidade/**" access="ROLE_X,ROLE_ADMIN" />
         <intercept-url pattern="/producao/**" access="ROLE_X,ROLE_ADMIN" />
          <intercept-url pattern="/usuario/**" access="ROLE_X,ROLE_ADMIN" />
           <intercept-url pattern="/templates/**" access="ROLE_ADMIN" />
        <logout invalidate-session="true" logout-success-url="/index.jsf" logout-url="/logout"/>
    </http>
 
      <!-- <beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
        <beans:property name="url" value="jdbc:mysql://localhost:3306/tcc" />
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <beans:property name="username" value="root" />
        <beans:property name="password" value="root" />
    </beans:bean> -->
  <beans:bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<beans:property name="jndiName">
                    
			<beans:value>java:comp/env/jdbc/tcc</beans:value>
		</beans:property>
	</beans:bean>
    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query= "SELECT login, senha, 'true' as enable FROM usuario WHERE login=?"
                               authorities-by-username-query= "SELECT login, permissao FROM usuario WHERE login=?"
            />
        </authentication-provider>
    </authentication-manager>
 
</beans:beans>